/* Whole Page */
body{
    background-color: #3f4d3e;
}

#wholeBody{
    height: 1850px;
    max-width: 1500px;
    min-width: 1500px;
    margin: 1rem;
    /* padding: 1rem; */
    margin: 2rem auto;
    border-radius: 40px;
    box-shadow: 6px 6px 6px 6px black;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(180deg, #6a8368 90%, rgba(217, 217, 217, 0) 100%);
}

/* Header */

#mountains{
    background-image: linear-gradient(
    to top, transparent, rgba(0, 0, 0, 0.446)
  ),url(https://cutewallpaper.org/21/5120x1080-wallpaper/288061307.jpg);
    background-size: cover ;
    height: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    
}
#navBar{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    top: 70px;
    
    
}
#navBarlist{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 30px;
    font-size: 25px;
    
}
a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px;
}
#phrase{
    position: relative;
    font-family: 'Julius Sans One';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 35px;
    text-shadow: 1px 1px black;
    
}
#found{
    position: relative;
    left:240px;
    top: 100px;
    color: white;
    
}

/* Bottom Half */
main{

}
#quadPic{
display: flex;
flex-wrap: wrap;
}

.forpix{
    height: 434px;
    width: 750px;

}
#venture{
    font-family: 'Inter'; font-style: normal; font-weight: 800;
    color: white;
    text-shadow: black 5px 5px;
}
#topLayer{
    position: relative;
    top: -750px;
    left: 0px;
    font-size: 60px;
    text-align: center;
}
#buttons{
    position: relative;
    top: -590px;
    display: flex;
    justify-content: space-around;

}
.bigBtn{
    font-size: 25px;
    font-family: 'Inter'; font-style: normal; font-weight: 800;
    height: 80px;
    width: 600px;
    border-radius: 84px;
}
.bigBtn:hover{
    box-shadow: 4px 4px;
}
/* Footer */

#ourFavorites{
    position: relative;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -200px;
    height: 600px;
}
#favorites{
    text-align: center;
    font-size: 60px;
    margin: 40px;
    font-family: 'Inter'; font-style: normal; font-weight: 800;
    color: white;
    text-shadow: black 5px 5px;
}
#cards{
width: 1500px;
display: flex;
justify-content: space-evenly;
align-items: center;

}
.cardCss{
    background-color: white;
    border-radius: 20px;
    height: 350px;
    margin: 0;
    box-shadow: 2px 2px 2px;
}
.cardCss:hover{
    box-shadow: 4px 4px 4px ;
}
.cardImg{
    height: 260px;
    width:430px;
    border-radius: 20px 20px 0px 0px;
}
.inform{
    margin: 0%;
    display: flex;
    justify-content: space-between;
}
.inform h1{
    margin-top: 8px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Manrope'; font-style: normal; font-weight: 400;
}
.inform h3{
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Manrope'; font-style: normal; font-weight: 400;
}

.favBtn{
    margin-top: 10px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.favBtn:hover{
    border: inset;
}






/* pictures

https://i.natgeofe.com/n/a481381d-ff7b-4618-9bcf-dab26f9934bd/smoky2.jpg?w=1272&h=1272
https://images.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvNDkxODE0NTcvYjAzMzNlNjVmOThkZmM1M2I1YzhmNjI2ZDVkOGY3NjAuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjoyMDQ4LCJoZWlnaHQiOjIwNDgsImZpdCI6Imluc2lkZSJ9LCJyb3RhdGUiOm51bGwsImpwZWciOnsidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWlzZVNjYW5zIjp0cnVlLCJxdWFudGlzYXRpb25UYWJsZSI6M319fQ==
https://images.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvMTEyNTUxMTAvM2I3NzI3YzNhZGUxYjZlMjYxNDQ0ZTM2NTYzODg5MDIuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjoyMDQ4LCJoZWlnaHQiOjIwNDgsImZpdCI6Imluc2lkZSJ9LCJyb3RhdGUiOm51bGwsImpwZWciOnsidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWlzZVNjYW5zIjp0cnVlLCJxdWFudGlzYXRpb25UYWJsZSI6M319fQ==
https://images.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvMjg1MDI5MDcvNTg1YzQ5MTg2YjQyZWJjZjZkYWFlYWQyYWU2ZjVlODEuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjoxMDgwLCJoZWlnaHQiOjcwMCwiZml0IjoiY292ZXIifSwicm90YXRlIjpudWxsLCJqcGVnIjp7InRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pc2VTY2FucyI6dHJ1ZSwicXVhbnRpc2F0aW9uVGFibGUiOjN9fX0=
https://images.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvMTE2NzAzODEvNjU5YmUxNDJiNTMyZjI0OGIzNjA3NWU4YjcxOTA0MDkuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjoxMDgwLCJoZWlnaHQiOjcwMCwiZml0IjoiY292ZXIifSwicm90YXRlIjpudWxsLCJqcGVnIjp7InRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pc2VTY2FucyI6dHJ1ZSwicXVhbnRpc2F0aW9uVGFibGUiOjN9fX0=
https://thehikingauthority.com/wp-content/uploads/2021/11/image-2.png
https://www.shutterstock.com/shutterstock/videos/1057622518/thumb/6.jpg?ip=x480
https://static.independent.co.uk/s3fs-public/thumbnails/image/2011/01/08/16/531307.jpg
https://www.middlebury.edu/college/sites/www.middlebury.edu.college/files/styles/1136x639/public/2022-06/Middlebury%20Reel%20Thumbnail.jpeg?fv=vUWnAZko&itok=SmJ9e3Si
https://videohive.img.customer.envatousercontent.com/files/f061e921-ade6-4bf3-8da6-eb93088d7834/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a82721dc6ac1cd8821dbcc9dd2cb7d49
https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/SyxJXpREipgtq2dd/videoblocks-amazing-epic-cinematic-drone-shot-of-hiker-traveler-explore-national-park-mountain-range-during-hike-inspirational-and-motivating-concept-of-success-and-outdoors-lifestyle_htklcyrpl_thumbnail-1080_01.png
https://www.roadtripryan.com/go/resources/content/utah/wasatch/bells-canyon/user-submitted/ryancornia-1466457445428.jpg
https://cdn-icons-png.flaticon.com/512/494/494568.png
ADD8E6 */
